altgraph==0.16.1
certifi==2019.6.16
chardet==3.0.4
Django==2.2.24
django-crispy-forms==1.7.2
django-simple-search==1.0.2
future==0.17.1
idna==2.8
macholib==1.11
pefile==2019.4.18
Pillow==6.0.0
psycopg2==2.8.3
PyInstaller==3.4
pypiwin32==223
pytz==2018.5
pywin32==224
pywin32-ctypes==0.2.0
requests==2.22.0
sqlparse==0.3.0
urllib3==1.25.3
virtualenv==16.6.1
